In [3]:
import numpy as np
import pandas as pd

df = pd.read_csv('E:/Personal/Data Science/Python/Data Sets/Purchased_Dataset.csv')
X = df[['Age','EstimatedSalary']]
y = df['Purchased']

df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, random_state = 5)

In [7]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [11]:
y_pred = knn.predict(X_test)

In [13]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test , y_pred)
accuracy

0.77

In [ ]:
# model 2

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, random_state = 3)
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)

In [15]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test , y_pred)
accuracy

0.81

# cross validation

In [16]:
from sklearn.model_selection import cross_val_score
knn = KNeighborsClassifier(n_neighbors=5)
print(cross_val_score(knn, X, y , cv=10, scoring = 'accuracy').mean())

[0.70731707 0.92682927 0.80487805 0.925      0.75       0.625
 0.725      0.82051282 0.71794872 0.76923077]

In [17]:
print(cross_val_score(knn, X, y , cv=10, scoring = 'accuracy').mean())

0.777171669793621

In [ ]:
# CV using Logistic regression

In [20]:
from sklearn.linear_model import LogisticRegression 
logreg = LogisticRegression(solver = 'liblinear')
print(cross_val_score(logreg, X, y , cv=10, scoring = 'accuracy').mean())

0.6499937460913072